.bg-box{
    width: 1000px;
    height: 400px;
    background-color: green;
    background-image: url('https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.webp'),url('https://st.depositphotos.com/1942805/2400/i/450/depositphotos_24001349-stock-photo-light-bulb.jpg'), url('https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png'), url('https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru'), url('https://st4.depositphotos.com/7376052/38547/i/450/depositphotos_385477396-stock-photo-summer-field-growing-green-grass.jpg');
    background-size: 300px, 30px, 20px, 20px, 155px;
    background-repeat: no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: center, top, right, left, bottom;
}